@page "/learn/{SectionId?}"
@inject NavigationManager NavigationManager
@using EasyKanji.Shared;
@using EasyKanji.Client.Shared;

<LearnSectionNav SectionId="@SectionId" />

<a class="learn-switch" href="/main/popular">
    Выйти из режима изучения  
    <img  src="cross.svg" height="23" width="23"/></a>


@switch (SectionId)
{
    case "by-meaning":
        <PageTitle>Изучение кандзи - EasyKanji</PageTitle>
        <LearnUI Mode="0" />
        break;
    case "by-writing":
        <PageTitle>Изучение кандзи - EasyKanji</PageTitle>
        <LearnUI Mode="1" />
        break;
    case "by-reading":
        <PageTitle>Изучение кандзи - EasyKanji</PageTitle>
        <LearnUI Mode="2" />
        break;
}

@code
{
    [Parameter]
    public string? SectionId { get; set; }

    //[Parameter]
    //[SupplyParameterFromQuery(Name = "s")]
    //public string? SearchText { get; set; }

    protected override void OnInitialized()
    {
        if (SectionId == null)
        {
            NavigationManager.NavigateTo("/learn/by-meaning");
        }
    }
}