@page "/main/{SectionId?}"
@inject NavigationManager NavigationManager
@using EasyKanji.Shared;
@using EasyKanji.Client.Shared;

<MainSectionNav />

<a class="learn-switch" href="/learn/by-meaning">Начать изучение</a>

@switch (SectionId)
{
    case "popular":
        <PageTitle>Популярные кандзи - EasyKanji</PageTitle>
        <KanjiTable TableData="null" />
        break;
    case "saved":
        <PageTitle>Сохранённые кандзи - EasyKanji</PageTitle>
        <KanjiTable TableData="null" />
        break;
    case "search":
        <PageTitle>Поиск кандзи - EasyKanji</PageTitle>
        <form>
            <input type="text" name="s" placeholder="Введите запрос"  value="@SearchText" required>
            <input type="submit">
        </form>
        <KanjiTable TableData="null" />
        break;
}

@code
{
    [Parameter]
    public string? SectionId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "s")]
    public string? SearchText { get; set; }

    protected override void OnInitialized()
    {
        if (SectionId == null)
        {
            NavigationManager.NavigateTo("/main/popular");
        }
    }
}