@page "/main/{SectionId?}"
@inject NavigationManager NavigationManager
@using EasyKanji.Shared;
@using EasyKanji.Client.Shared;

<MainSectionNav SectionId="@SectionId" />

<a class="learn-switch" href="/learn/by-meaning">
       Начать изучение
    <img src="graduate-cap.svg" width="45" height="45" />
    </a>

@switch (SectionId)
{
    case "popular":
        <PageTitle>Популярные кандзи - EasyKanji</PageTitle>
        <KanjiTable TableData="new List<Kanji> { TestKanji1, TestKanji2, TestKanji3, TestKanji4, TestKanji5, TestKanji6 }" />
        break;
    case "saved":
        <PageTitle>Сохранённые кандзи - EasyKanji</PageTitle>
        <KanjiTable TableData="new List<Kanji> { TestKanji1, TestKanji2, TestKanji3, TestKanji4, TestKanji5, TestKanji6 }" />
        break;
    case "search":
        <PageTitle>Поиск кандзи - EasyKanji</PageTitle>
        <form id="search" method="post">
            <input type="text" name="s" placeholder="Введите запрос" value="@SearchText" required>
            <button type="submit">
                <img src="lupa.svg" width="29" height="29" />
                </button>
        </form>
        <KanjiTable TableData="new List<Kanji> { TestKanji1, TestKanji2, TestKanji3, TestKanji4, TestKanji5, TestKanji6 }" />
        break;
}

@code
{
    [Parameter]
    public string? SectionId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "s")]
    public string? SearchText { get; set; }

    protected override void OnInitialized()
    {
        if (SectionId == null)
        {
            NavigationManager.NavigateTo("/main/popular");
        }
    }




    // Just for test
    private Kanji TestKanji1 = new Kanji(
        '人',
        "Человек",
        new List<string> { "ジン", "ニン" },
        new List<string> { "ひと" },
        new Dictionary<string, string> {
            { "ひと", "человек; люди; личность, характер; другой, другие; кто [-нибудь] , кто-то" },
            { "ひと.となり", "натура, характер Чаще 為人" },
            { "ひと.らしい", "достойный [звания человека]" },
        }
    );

    private Kanji TestKanji2 = new Kanji(
        '人',
        "Другой человек",
        new List<string> { "ジン", "ニン" },
        new List<string> { "ひと" },
        new Dictionary<string, string> {
            { "ひと", "человек; люди; личность, характер; другой, другие; кто [-нибудь] , кто-то" },
            { "ひと.となり", "натура, характер Чаще 為人" },
            { "ひと.らしい", "достойный [звания человека]" },
            }
    );

    private Kanji TestKanji3 = new Kanji(
        '人',
        "Ещё человек",
        new List<string> { "ジン", "ニン" },
        new List<string> { "ひと" },
        new Dictionary<string, string> {
            { "ひと", "человек; люди; личность, характер; другой, другие; кто [-нибудь] , кто-то" },
            { "ひと.となり", "натура, характер Чаще 為人" },
            { "ひと.らしい", "достойный [звания человека]" },
            }
    );

    private Kanji TestKanji4 = new Kanji(
        '人',
        "Человек 4",
        new List<string> { "ジン", "ニン" },
        new List<string> { "ひと" },
        new Dictionary<string, string> {
            { "ひと", "человек; люди; личность, характер; другой, другие; кто [-нибудь] , кто-то" },
            { "ひと.となり", "натура, характер Чаще 為人" },
            { "ひと.らしい", "достойный [звания человека]" },
            }
    );

    private Kanji TestKanji5 = new Kanji(
        '人',
        "Человек номер 5",
        new List<string> { "ジン", "ニン" },
        new List<string> { "ひと" },
        new Dictionary<string, string> {
            { "ひと", "человек; люди; личность, характер; другой, другие; кто [-нибудь] , кто-то" },
            { "ひと.となり", "натура, характер Чаще 為人" },
            { "ひと.らしい", "достойный [звания человека]" },
            }
    );

    private Kanji TestKanji6 = new Kanji(
        '人',
        "Рокунин",
        new List<string> { "ジン", "ニン" },
        new List<string> { "ひと" },
        new Dictionary<string, string> {
            { "ひと", "человек; люди; личность, характер; другой, другие; кто [-нибудь] , кто-то" },
            { "ひと.となり", "натура, характер Чаще 為人" },
            { "ひと.らしい", "достойный [звания человека]" },
            }
    );
}