header {
    width: 100%;
    height: 60px;
    background-color: #6a9aff;
}

button {
    height: 40px;
    margin: 0 50px 0 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;

    background-color: #5882d900;
    border: none;
    border-radius: 20px;

    position: relative;
    top: 10px;

    transition: background-color ease-in-out .2s;
}

p {
    margin: 0 10px 0 10px;
    line-height: 40px;
}

button:hover {
    background-color: #5882d9ff;
}