@using EasyKanji.Shared;

<section>
    @if (TableData != null)
    {
        foreach (Kanji kanji in TableData)
        {
            @if (IsSelected(kanji))
            {
                <button class="active-button" @onclick="() => DeselectKanji(kanji)">
                    <KanjiTableCard DisplayedKanji="kanji"/>
                </button>
            }
            else
            {
                <button @onclick="() => SelectKanji(kanji)">
                    <KanjiTableCard DisplayedKanji="kanji"/>
                </button>
            }
        }
    }
</section>

@code {
    [Parameter]
    public List<Kanji>? TableData { get; set; }

    private void SelectKanji(Kanji kanji)
    {
        GlobalVariables.LearnKanjiList.Add(kanji);
    }

    private void DeselectKanji(Kanji kanji)
    {
        for (int i = 0; i < GlobalVariables.LearnKanjiList.Count; i++)
        {
            if (GlobalVariables.LearnKanjiList[i].Id == kanji.Id)
                GlobalVariables.LearnKanjiList.RemoveAt(i);
        }
    }

    private bool IsSelected(Kanji kanji)
    {
        foreach (Kanji learnKanji in GlobalVariables.LearnKanjiList)
        {
            if (learnKanji.Id == kanji.Id) return true;
        }
        return false;
    }
}