@using EasyKanji.Shared;

@if (DisplayedKanji != null)
{
    <h1>@DisplayedKanji.Writing</h1>
    <p>@DisplayedKanji.Meaning</p>
}

@code {
    [Parameter]
    public Kanji? DisplayedKanji { get; set; }
}