button {
    display: flex;
    border-radius: 15px;
    transition: background-color ease-in-out .2s;
    width: 295px;
}

button:hover {
    background-color: #c7c7c7;
}

.active-button {
    background-color: #6a9aff !important;
}