section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.kanji-card {
    border-radius: 15px;
    width: 200px;
    height: 300px;
    transition: .1s ease-in-out;
}

.main-card {
    zoom: 1.2;
}

.hiden-card {
    display: none;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

.front-face-card {
    background-color: #6a9aff !important;
}
