<nav>
    <div class="nav-button @(SectionId == "by-meaning" ? "nav-active": "")"><NavLink href="/learn/by-meaning"><p>По значению</p></NavLink></div>
    <div class="nav-button @(SectionId == "by-writing" ? "nav-active": "")"><NavLink href="/learn/by-writing"><p>По написанию</p></NavLink></div>
    <div class="nav-button @(SectionId == "by-reading" ? "nav-active": "")"><NavLink href="/learn/by-reading"><p>По чтению</p></NavLink></div>
</nav>

@code
{
    [Parameter]
    public string? SectionId { get; set; }
}