<nav>
    <div class="nav-button @(SectionId == "popular" ? "nav-active": "")"><NavLink href="/main/popular"><p>Популярные кандзи</p></NavLink></div>
    <div class="nav-button @(SectionId == "saved" ? "nav-active": "")"><NavLink href="/main/saved"><p>Сохранённые кандзи</p></NavLink></div>
    <div class="nav-button @(SectionId == "search" ? "nav-active": "")"><NavLink href="/main/search"><p>Поиск кандзи</p></NavLink></div>
</nav>

@code
{
    [Parameter]
    public string? SectionId { get; set; }
}